.st-container {
  display: flex;
  flex-direction: column;
}

.st-headers {
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

.st-headers p {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.st-ul-progress .st-li-progress {
  list-style: none;
}

.st-li-progress {
  margin-top: 0.5rem;
}

.st-ul-progress {
  margin: 0 0 0 !important;
}

.st-progress-small {
  padding: 0.2rem;
  border-radius: 5px;
  background-color: rgb(195, 228, 255);
}

.st-progress-container {
  border: 1px solid rgb(243, 243, 243);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.st-text-container {
  margin-top: 0.5rem;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.st-text-container p {
  margin: 0 0 0.5rem !important;
}
