:root {
  --color-blue-dark: #373952;
  --color-blue-dark-hover: #4a4c64;
  --text-color-light: #e8e8e8;
  --scroll: #a0a0a0;
  --color-light: #fffcf0;
  --color-mild: #fff8e0;
  --color-mild-grey: #d9d9d9;
  --color-mild-blue: #5564bd;

  --color-green-light: #008000;
  --color-green-dark: #016b01;
  --color-green-darker: #005300;
}

.wrapper {
  margin-top: 1rem;
  margin-right: 1.4rem;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
}

.clients-list-container {
  max-height: 80vh;
  width: 35%;
  padding: 0.5rem;
  overflow-y: scroll;
}

.clients-list-container::-webkit-scrollbar {
  width: 0.4rem;
}

.clients-list-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}

.cases-container {
  height: 70vh;
  width: 65%;
  padding: 0.5rem;
  overflow-y: scroll;
}

.cases-container::-webkit-scrollbar {
  width: 0.4rem;
}

.cases-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}

.case-title {
  border-radius: 5px;
  margin-top: 0.4rem;
  background-color: var(--color-light);
  padding: 0.2rem 1.2rem;
  transition: all 0.4s;
  z-index: 10;
}

.case-title:hover {
  background-color: var(--color-mild);
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.case-icon {
  float: right;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

.client {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: var(--color-blue-dark);
  border-radius: 3px;
  transition: all 0.4s;
}

.client:hover {
  cursor: pointer;
  background-color: var(--color-blue-dark-hover);
}

.client h3 {
  color: var(--text-color-light) !important;
}

.icon-client {
  margin-bottom: -1px;
  margin-right: 0.3rem;
  margin-left: 0.8rem;
}

.icon-edit {
  margin-right: 0.8rem;
  float: right;
}

.search {
  padding: 0 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input[type="text"] {
  font-size: medium;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-case {
  border: 1px solid var(--color-green-light);
  background-color: var(--color-green-light);
  color: var(--color-light);
  padding: 0.5rem;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.add-case:hover {
  background-color: var(--color-green-dark);
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
}

.add-case:active {
  background-color: var(--color-green-darker);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
  border: 1px solid var(--color-green-light);
}

.case-input {
  border: 1px solid var(--color-green-light) !important;
  padding: 0.2rem !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 10rem;
  transition: all 0.5s;
}

.case-input:focus {
  width: 20rem;
}

/*SPINNER*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-blue-dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/*SPINNER*/

.editing-title {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-mild-grey);
  margin: 0 0.4rem;
}

.btn {
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  font-weight: bold;
  color: var(--text-color-light);
  cursor: pointer;
}

.edit-input {
  border: 1px solid var(--color-green-light) !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 10rem;
  transition: all 0.5s;
}

.edit-input:focus {
  width: 20rem;
}

.btn:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.btn:focus {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
}

.btn-save {
  background-color: var(--color-green-light);
  border: 1px solid var(--color-green-light);
}

.btn-dismiss {
  background-color: var(--color-mild-blue);
  border: 1px solid var(--color-mild-blue);
}

/*TRANSITION FOR EDITING*/

.editing-enter {
  transform: scaleY(0);
  transform-origin: top;
}
.editing-enter-active {
  transform: scaleY(1);
  transition: all 300ms;
}
.editing-exit {
  transform: scaleY(1);
}
.editing-exit-active {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

/*END TRANSITION FOR EDITING*/
