:root {
  --color-blue-dark: #373952;
  --color-blue-dark-hover: #4a4c64;
  --color-blue-dark-clicked: #5d607e;
  --text-color-light: #e8e8e8;
  --scroll: #a0a0a0;
  --color-light: #fffcf0;
  --color-mild: #fff8e0;
  --color-mild-grey: #d9d9d9;
  --color-mild-blue: #5564bd;
  --color-plain-blue: #4e67f5;

  --color-green-light: #008000;
  --color-green-dark: #016b01;
  --color-green-darker: #005300;
}

.wrapper {
  margin-top: 1rem;
  margin-right: 1.4rem;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
}

.clients-list-container {
  max-height: 80vh;
  width: 35%;
  padding: 0.5rem;
  overflow-y: scroll;
}

.clients-list-container::-webkit-scrollbar {
  width: 0.4rem;
}

.clients-list-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}

.cases-container {
  height: 70vh;
  width: 65%;
  padding: 0.5rem;
  overflow-y: scroll;
}

.cases-container::-webkit-scrollbar {
  width: 0.4rem;
}

.cases-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}

.case-title {
  border-radius: 5px;
  margin-top: 0.4rem;
  background-color: var(--color-light);
  padding: 0.2rem 1.2rem;
  transition: all 0.4s;
  z-index: 10;
}

.case-title:hover {
  background-color: var(--color-mild);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.the-title {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.the-title:hover {
  color: var(--color-mild);
  background-color: var(--color-mild-blue);
}

.case-icon {
  cursor: pointer;
  float: right;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

.client {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: var(--color-blue-dark);
  border-radius: 3px;
  transition: all 0.4s;
}

.client-active {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: var(--color-blue-dark-clicked);
  border-radius: 3px;
  transition: all 0.4s;
  border-left: 10px solid var(--color-plain-blue);
}

.client:hover,
.client-active:hover {
  cursor: pointer;
  background-color: var(--color-blue-dark-hover);
}

.client h3,
.client-active h3 {
  color: var(--text-color-light) !important;
}

.icon-client {
  margin-bottom: -1px;
  margin-right: 0.3rem;
  margin-left: 0.8rem;
}

.icon-edit {
  margin-right: 0.8rem;
  float: right;
}

.search {
  padding: 0 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input[type="text"] {
  font-size: medium;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-case {
  border: 1px solid var(--color-green-light);
  background-color: var(--color-green-light);
  color: var(--color-light);
  padding: 0.5rem;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.add-case:hover {
  background-color: var(--color-green-dark);
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
}

.add-case:active {
  background-color: var(--color-green-darker);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
  border: 1px solid var(--color-green-light);
}

.case-input {
  border: 1px solid var(--color-green-light) !important;
  padding: 0.2rem !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 10rem;
  transition: all 0.5s;
}

.case-input:focus {
  width: 20rem;
}

/*SPINNER*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-blue-dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/*SPINNER*/

.editing-title {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-mild-grey);
  margin: 0 0.4rem;
}

.btn {
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  font-weight: bold;
  color: var(--text-color-light);
  cursor: pointer;
}

.edit-input {
  border: 1px solid var(--color-green-light) !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 10rem;
  transition: all 0.5s;
}

.edit-input:focus {
  width: 20rem;
}

.btn:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.btn:focus {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
}

.btn-save {
  background-color: var(--color-green-light);
  border: 1px solid var(--color-green-light);
}

.btn-dismiss {
  background-color: var(--color-mild-blue);
  border: 1px solid var(--color-mild-blue);
}

.status {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  margin-bottom: 0.3rem;
  border-radius: 6px;
  padding: 0.5rem;
  border-left: 4px solid var(--color-green-light);
}

.status-icon {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 0.2rem;
  float: right;
  margin-top: -2px;
}

.status-text {
  width: 100%;
}

.record {
  display: flex;
  flex-direction: row;
}

.status-textarea {
  font-size: 1.1rem !important;
  background-color: var(--color-light);
  padding: 0;
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  resize: none;
}

.status-textarea::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 5px;
}

.status-textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-dark);
}

.remove-border {
  border: none;
}

.date-edit {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}

.date {
  white-space: nowrap;
}

.edit {
  display: inline-block;
  width: 100%;
}

/*TRANSITION FOR EDITING*/

.editing-enter {
  transform: scaleY(0);
  transform-origin: top;
}
.editing-enter-active {
  transform: scaleY(1);
  transition: all 300ms;
}
.editing-exit {
  transform: scaleY(1);
}
.editing-exit-active {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

/*END TRANSITION FOR EDITING*/

/*Toastify*/
.Toastify__toast-container {
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 9999px);
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}
.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--dark {
  background: #121212;
  color: #fff;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #3498db;
}
.Toastify__toast--success {
  background: #07bc0c;
}
.Toastify__toast--warning {
  background: #f1c40f;
}
.Toastify__toast--error {
  background: #e74c3c;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 6px;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Toastify__close-button--default {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}
.Toastify__progress-bar--default {
  background: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
}
.Toastify__progress-bar--dark {
  background: #bb86fc;
}
@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}
.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}

/*# sourceMappingURL=ReactToastify.css.map */
